<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657219940481-4ism4ngek53pvd69r24jgd2ha91nlmr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657219940481-4ism4ngek53pvd69r24jgd2ha91nlmr7</string>
	<key>API_KEY</key>
	<string>AIzaSyCoEOWQLBmMhcSIdzfhpU-S5BiA1ISJVHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>657219940481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.cyclingproject</string>
	<key>PROJECT_ID</key>
	<string>cycling-routes-app-3fa75</string>
	<key>STORAGE_BUCKET</key>
	<string>cycling-routes-app-3fa75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657219940481:ios:daa8eb65e9aa1fd6235d80</string>
</dict>
</plist>